@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <title>Panel de comentarios</title>
</head>
<body>
    <div id="contenido"> 
    </div>

    <script src="~/scripts/jquery-2.2.0.js"></script>
    <script src="https://fb.me/react-0.14.0.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.js"></script>
    <script src="~/scripts/App/RegistroComentario.jsx"></script>
    <script src="~/scripts/App/DetalleComentario.jsx"></script>
    <script src="~/scripts/App/ListaComentario.jsx"></script>
    <script src="~/scripts/App/PanelComentario.jsx"></script>
    <script src="~/scripts/App/Main.jsx"></script>

</body>
</html>
